@charset "UTF-8";
@font-face {
  font-family: 'HelveticaNeueLTStd-Cn';
  src: url("../fonts/HelveticaNeueLTStd-Cn.eot");
  src: local("☺"), url("../fonts/HelveticaNeueLTStd-Cn.woff") format("woff"), url("../fonts/HelveticaNeueLTStd-Cn.ttf") format("truetype"), url("../fonts/HelveticaNeueLTStd-Cn.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0 auto;
  font-family: sans-serif;
  font-size: 100%;
  background: #1277c4;
  /* Old browsers */
  background: -moz-linear-gradient(top, #034475 0%, #1277c4 380px, #1277c4 100%) repeat-x;
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #034475), color-stop(100%, #1277c4)) repeat-x;
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #034475 0%, #1277c4 380px, #1277c4 100%) repeat-x;
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #034475 0%, #1277c4 380px, #1277c4 100%) repeat-x;
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #034475 0%, #1277c4 380px, #1277c4 100%) repeat-x;
  /* IE10+ */
  background: linear-gradient(to bottom, #034475 0%, #1277c4 380px, #1277c4 100%) repeat-x;
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#034475', endColorstr='#1277c4',GradientType=0 );
  /* IE6-9 */
  /*-webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-overflow-scrolling: touch;*/
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  color: #333333;
  margin-top: 0;
  margin-bottom: 1.5em;
}

p, li, label {
  color: #5c5c5c;
  font-size: 1.4em;
  line-height: 1.2em;
}

p {
  margin-bottom: 1em;
}

.title {
  color: #333333;
  font-weight: bold;
}

.smCaps {
  text-transform: uppercase;
  font-size: 75%;
}

.upper {
  text-transform: uppercase;
}

sup {
  font-size: 65%;
  font-weight: normal;
  position: relative;
  bottom: 0.5em;
}

a:link, a:hover, a:active, a:visited {
  color: #0066b3;
  text-decoration: none;
  outline: none;
}

ul, ol {
  margin: 15px 0 18px 18px;
  padding: 0;
}
ul li, ol li {
  margin-bottom: 0.5em;
  position: relative;
}

ul {
  list-style-type: none;
}
ul ul {
  margin: 0.5em 0 0 1.5em;
}
ul ul li {
  font-size: inherit;
}
ul.notop-spacing {
  margin-top: 0;
}

li .bullet {
  width: 10px;
  text-align: left;
  position: absolute;
  left: -10px;
}

li .mdash {
  width: 20px;
  text-align: left;
  position: absolute;
  left: -20px;
}
/*
img {
  width: 100%;
}
*/

.grey p {
  color: #5c5c5c;
}

.blue {
  color: #0066b3;
}

.yellow {
  color: #efe32c;
}

.hide {
  display: none;
}

.right {
  text-align: right;
}

.floatLeft {
  float: left;
}

.floatRight {
  float: right;
}

.nowrap {
  white-space: nowrap;
}

.tm {
  font-weight: normal;
}

.star {
  color: #ca3b2f;
}

.hide-ie8 {
  display: none;
}

[data-target] {
  cursor: pointer;
}

.wrapper {
  max-width: 1024px;
  background: #ffffff;
  overflow: hidden;
  /*-moz-box-shadow:    80px 0 80px -4px rgba(0, 0, 0, 0.20), -80px 0 80px -4px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 80px 0 80px -4px rgba(0, 0, 0, 0.20), -80px 0 80px -4px rgba(0, 0, 0, 0.25);
  box-shadow:         80px 0 80px -4px rgba(0, 0, 0, 0.20), -80px 0 80px -4px rgba(0, 0, 0, 0.25);*/
  position: relative;
  margin: 0 auto;
}

.mainContent {
  border-left: 10px solid #819baf;
  border-right: 10px solid #819baf;
}

.innerWrap {
  padding: 0;
  border-left: 1px solid #02375f;
  border-right: 1px solid #02375f;
  position: relative;
}

.container {
  width: 100%;
}

.preloadImg {
  position: absolute;
  overflow: hidden;
  left: -9999px;
  top: -9999px;
  height: 1px;
  width: 1px;
}

.preloadNode div {
  background-repeat: no-repeat;
  background-position-x: -9999px;
  background-position-y: -9999px;
}

.auxNav {
  margin: 0 7px 0 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  display: block;
}

.auxNav.mobile {
  display: none;
}

.auxNav li {
  padding: 7px 0;
  float: right;
  font-family: arial, sans-serif;
  font-size: 1.2em;
  font-weight: bold;
}

.auxNav li a, .auxNav li a:hover {
  color: #0066b3;
  text-decoration: none;
}

.auxNav li .divider {
  padding: 0 11px;
  color: #333333;
}

.patientLink, .hcpLink {
  display: none;
}

.patientSite .hcpLink {
  display: block;
}
.patientSite .hcpLink.siteLink {
  background: #0066b3;
}
.patientSite .hcpLink.siteLink a, .patientSite .hcpLink.siteLink a:hover {
  padding: 7px 14px;
  color: #ffffff;
}

.hcpSite .patientLink {
  display: block;
}
.hcpSite .patientLink.siteLink {
  background: #efe32c;
}
.hcpSite .patientLink.siteLink a, .hcpSite .patientLink.siteLink a:hover {
  color: #333333;
}

.patientSite .hcpLink.siteLink a, .patientSite .hcpLink.siteLink a:hover, .hcpSite .patientLink.siteLink a, .hcpSite .patientLink.siteLink a:hover {
  padding: 7px 14px;
}
.patientSite .hcpLink .divider, .hcpSite .patientLink .divider {
  padding: 0 15px 0 0;
}

.logoWrap {
  margin: 48px 0 0 60px;
  width: 901px;
  height: 117px;
  overflow: hidden;
}

.logoContainer {
  width: 350px;
  height: 117px;
  background: url(../images/rasuvo_logo.png) 50% 50% no-repeat;
  float: left;
}

.heroContainer {
  width: 509px;
  height: 117px;
  background: url(../images/now_approved.png) 50% 30px no-repeat;
  border-left: 1px solid #cfe2f1;
  float: left;
}

.headerElements {
  padding: 1em 0;
}
.headerElements .mainLogo img {
  max-width: 186px;
  float: left;
}

.patientSite .hcpNav, .hcpSite .patientNav {
  display: none;
}

.hcpNav {
  margin-bottom: 0.5em;
  border-bottom: 7px solid #0066b3;
}
.hcpNav .mainNav {
  border: 1px solid #e7e7e7;
}

.patientNav {
  margin-bottom: 0.5em;
  border-bottom: 7px solid #efe32c;
}
.patientNav .mainNav {
  border: none;
  max-width: 100%;
}
.patientNav .navGroup1 {
  border-left: 1px solid #e7e7e7;
}
.patientNav [class*='navGroup'] {
  border-top: 1px solid #e7e7e7;
}
.patientNav .navGroup3 {
  border-right: 1px solid #e7e7e7;
}

.mainNav {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow: hidden;
  position: relative;
}
.mainNav li {
  margin: 0;
  padding: 0;
  float: left;
  text-align: center;
  position: relative;
  font-size: 100%;
}
.mainNav li a {
  display: block;
  padding: 5px 0;
}
.mainNav li a span {
  display: block;
  vertical-align: middle;
  font-family: 'HelveticaNeueLTStd-Cn', sans-serif;
  font-size: 1.8em;
  letter-spacing: 1px;
  line-height: 1.0em;
  padding: 10px 0 6px 0;
}
.mainNav li.placeholder {
  background: #ffffff !important;
  filter: none !important;
}
.mainNav li.divider1, .mainNav li.divider2, .mainNav li.divider3 {
  width: 2px;
  height: 36px;
  position: relative;
  top: 5px;
  right: -1px;
  z-index: 1;
  margin-left: -2px;
}

.patientSite .mainNav li {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #0066b3), color-stop(100%, #518dd1));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #0066b3 0%, #518dd1 100%);
  /* Chrome10+,Safari5.1+ */
  background: -moz-linear-gradient(top, #0066b3 0%, #518dd1 100%);
  /* FF3.6+ */
  background: -ms-linear-gradient(top, #0066b3 0%, #518dd1 100%);
  /* IE10+ */
  background: -o-linear-gradient(top, #0066b3 0%, #518dd1 100%);
  /* Opera 11.10+ */
  background: linear-gradient(to bottom, #0066b3 0%, #518dd1 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0066b3', endColorstr='#518dd1');
  /* IE6-9 */
}
.patientSite .mainNav li a {
  color: #ffffff;
  text-shadow: -1px 1px rgba(0, 0, 0, 0.42);
}
.patientSite .mainNav li.active, .patientSite .mainNav li:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #efe32c), color-stop(100%, #f0ea97));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #efe32c 0%, #f0ea97 100%);
  /* Chrome10+,Safari5.1+ */
  background: -moz-linear-gradient(top, #efe32c 0%, #f0ea97 100%);
  /* FF3.6+ */
  background: -ms-linear-gradient(top, #efe32c 0%, #f0ea97 100%);
  /* IE10+ */
  background: -o-linear-gradient(top, #efe32c 0%, #f0ea97 100%);
  /* Opera 11.10+ */
  background: linear-gradient(to bottom, #efe32c 0%, #f0ea97 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#efe32c', endColorstr='#f0ea97');
  /* IE6-9 */
}
.patientSite .mainNav li.active a, .patientSite .mainNav li:hover a {
  color: #333333;
  text-shadow: -1px 1px white;
}
.patientSite .mainNav li.divider1, .patientSite .mainNav li.divider2 {
  background: #025a9b;
  border-right: 1px solid #5f9fcf;
}

.hcpSite .mainNav li {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #e7e7e7));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, white 0%, #e7e7e7 100%);
  /* Chrome10+,Safari5.1+ */
  background: -moz-linear-gradient(top, white 0%, #e7e7e7 100%);
  /* FF3.6+ */
  background: -ms-linear-gradient(top, white 0%, #e7e7e7 100%);
  /* IE10+ */
  background: -o-linear-gradient(top, white 0%, #e7e7e7 100%);
  /* Opera 11.10+ */
  background: linear-gradient(to bottom, #ffffff 0%, #e7e7e7 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='white', endColorstr='#e7e7e7');
  /* IE6-9 */
}
.hcpSite .mainNav li a {
  color: #444444;
  text-shadow: -1px 1px white;
}
.hcpSite .mainNav li.active, .hcpSite .mainNav li:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #0066b3), color-stop(100%, #518dd1));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #0066b3 0%, #518dd1 100%);
  /* Chrome10+,Safari5.1+ */
  background: -moz-linear-gradient(top, #0066b3 0%, #518dd1 100%);
  /* FF3.6+ */
  background: -ms-linear-gradient(top, #0066b3 0%, #518dd1 100%);
  /* IE10+ */
  background: -o-linear-gradient(top, #0066b3 0%, #518dd1 100%);
  /* Opera 11.10+ */
  background: linear-gradient(to bottom, #0066b3 0%, #518dd1 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0066b3', endColorstr='#518dd1');
  /* IE6-9 */
}
.hcpSite .mainNav li.active a, .hcpSite .mainNav li:hover a {
  color: #ffffff;
  text-shadow: -1px 1px rgba(0, 0, 0, 0.42);
}
.hcpSite .mainNav li.divider1, .hcpSite .mainNav li.divider2, .hcpSite .mainNav li.divider3 {
  background: #ccc;
  border-right: 1px solid #fff;
}

.submenu {
  display: table;
  padding-right: 0;
  margin-bottom: 15px;
}
.submenu > div {
  height: 4.5em;
  background-color: #ecebeb;
  display: table-row;
  vertical-align: middle;
  padding: 0;
}
.submenu > div a:link, .submenu > div a:hover, .submenu > div a:focus,
.submenu > div a:active, .submenu > div a:visited {
  width: 100%;
  display: table-cell;
  font-size: 1.5em;
  font-weight: bold;
  color: #333333;
  line-height: 110%;
  text-shadow: 1px 1px #ffffff;
  vertical-align: middle;
  padding: 0 1.5em;
  border-bottom: 1px solid #dadada;
}
.submenu > div.active, .submenu > div:hover, .submenu > div:active {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #0066b3), color-stop(100%, #4f8bd0));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #0066b3 0%, #4f8bd0 100%);
  /* Chrome10+,Safari5.1+ */
  background: -moz-linear-gradient(top, #0066b3 0%, #4f8bd0 100%);
  /* FF3.6+ */
  background: -ms-linear-gradient(top, #0066b3 0%, #4f8bd0 100%);
  /* IE10+ */
  background: -o-linear-gradient(top, #0066b3 0%, #4f8bd0 100%);
  /* Opera 11.10+ */
  background: linear-gradient(to bottom, #0066b3 0%, #4f8bd0 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0066b3', endColorstr='#4f8bd0');
  /* IE6-9 */
}
.submenu > div.active a:link, .submenu > div.active a:hover, .submenu > div.active a:focus,
.submenu > div.active a:active, .submenu > div.active a:visited, .submenu > div:hover a:link, .submenu > div:hover a:hover, .submenu > div:hover a:focus,
.submenu > div:hover a:active, .submenu > div:hover a:visited, .submenu > div:active a:link, .submenu > div:active a:hover, .submenu > div:active a:focus,
.submenu > div:active a:active, .submenu > div:active a:visited {
  color: #ffffff;
  text-shadow: 1px 1px #333333;
  background-image: url("../images/submenu_active_arrow.png");
  background-repeat: no-repeat;
  background-position: 0.5em 50%;
}
.submenu .left-sidebar-img, .submenu .left-sidebar-img:hover, .submenu .left-sidebar-img:active {
  background: transparent;
  filter: none;
  text-align: center;
}

.content {
  margin-top: 1.5em;
  margin-bottom: 2em;
}
.content a:link, .content a:hover, .content a:focus,
.content a:active, .content a:visited {
  font-weight: bold;
  text-decoration: none;
}
.content ul {
  margin-left: 1.0em;
}
.content ul.colonList {
  margin-top: -0.75em;
}
.content ul ul {
  margin-left: 1.5em;
}
.content strong {
  color: #333333;
}
.content h5.innerTitle {
  font-size: 1.6em;
}
.content .refHeading {
  margin-top: 0.25em;
  font-size: 0.8em;
  font-weight: normal;
}
.content .blue-box, #hcpSite-2_1-science-of-methotrexate .content .blue-box-img {
  width: 100%;
  background-color: #e2eef9;
  display: table;
  padding: 2em 5em;
}
.content .blue-box p, #hcpSite-2_1-science-of-methotrexate .content .blue-box-img p {
  font-size: 1.6em;
  font-weight: bold;
  text-align: center;
  margin: 0;
}
.content .icon-link, .content .download-link, .content .download-link-sm, .content .download-link-lg, .content .expand-link {
  background-repeat: no-repeat;
  background-position: left top;
  font-size: 1.1em;
  padding-top: 1em;
  margin-top: 0.5em;
}
.content .download-link, .content .download-link-sm, .content .download-link-lg {
  background-image: url("../images/icon_download.png");
}
.content .download-link-sm {
  min-height: 25px;
  background-size: 22px 25px;
  padding-left: 2.4em;
}
.content .download-link-lg {
  min-height: 45px;
  background-size: 40px 45px;
  padding-left: 4.4em;
}
.content .expand-link {
  min-height: 29px;
  background-image: url("../images/icon_expand.png");
  background-size: 28px 29px;
  padding-left: 2.8em;
}

.content-col2 .content {
  padding-right: 7%;
}

.global-content .content h1 {
  font-size: 2em;
}
.global-content .content h2 {
  font-size: 1.8em;
}
.global-content .content h3 {
  font-size: 1.6em;
  margin-top: 1.5em;
}
.global-content .content h4 {
  font-size: 1.4em;
  margin-bottom: 0;
}
.global-content .content p {
  font-size: 1.4em;
  line-height: 1.4em;
  margin-top: 0;
}

.spotlights {
  margin-top: 1.5em;
  padding-right: 30px;
  padding-left: 30px;
}
.spotlights .spotlight, .spotlights .spotlight-hcpSite, .spotlights .spotlight-patientSite {
  margin-bottom: 1em;
}
.spotlights .spotlight .spotlight-inner, .spotlights .spotlight-hcpSite .spotlight-inner, .spotlights .spotlight-patientSite .spotlight-inner {
  height: 100%;
  padding: 1em 0 0.8em 0;
  border-bottom: 1px solid #dadada;
  border-right: 1px solid #dadada;
  border-left: 1px solid #dadada;
  box-shadow: 0 0 5px #dadada;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #e2eef9));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, white 0%, #e2eef9 100%);
  /* Chrome10+,Safari5.1+ */
  background: -moz-linear-gradient(top, white 0%, #e2eef9 100%);
  /* FF3.6+ */
  background: -ms-linear-gradient(top, white 0%, #e2eef9 100%);
  /* IE10+ */
  background: -o-linear-gradient(top, white 0%, #e2eef9 100%);
  /* Opera 11.10+ */
  background: linear-gradient(to bottom, #ffffff 0%, #e2eef9 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='white', endColorstr='#e2eef9');
  /* IE6-9 */
}
.spotlights .spotlight .spotlight-inner p, .spotlights .spotlight-hcpSite .spotlight-inner p, .spotlights .spotlight-patientSite .spotlight-inner p {
  position: relative;
  margin: 0 0 0.5em;
}
.spotlights .spotlight .spotlight-inner div, .spotlights .spotlight-hcpSite .spotlight-inner div, .spotlights .spotlight-patientSite .spotlight-inner div {
  height: 85%;
}
.spotlights .spotlight .spotlight-inner .icon, .spotlights .spotlight-hcpSite .spotlight-inner .icon, .spotlights .spotlight-patientSite .spotlight-inner .icon {
  text-align: center;
  padding-right: 0;
}
.spotlights .spotlight .spotlight-inner .icon img, .spotlights .spotlight-hcpSite .spotlight-inner .icon img, .spotlights .spotlight-patientSite .spotlight-inner .icon img {
  margin-right: auto;
  margin-left: auto;
}
.spotlights .spotlight .spotlight-inner .calltoaction, .spotlights .spotlight-hcpSite .spotlight-inner .calltoaction, .spotlights .spotlight-patientSite .spotlight-inner .calltoaction {
  color: #0066b3;
  font-weight: bold;
  padding-right: 1em;
  margin-right: 15px;
}
.spotlights .spotlight .spotlight-inner .calltoaction:after, .spotlights .spotlight-hcpSite .spotlight-inner .calltoaction:after, .spotlights .spotlight-patientSite .spotlight-inner .calltoaction:after {
  content: " ";
  width: 0;
  height: 0;
  position: absolute;
  bottom: 0.3em;
  right: 0;
  border-style: solid;
  border-width: 4px 0 4px 5px;
  border-color: transparent transparent transparent #0066b3;
}
.spotlights .spotlight .spotlight-inner .violator, .spotlights .spotlight-hcpSite .spotlight-inner .violator, .spotlights .spotlight-patientSite .spotlight-inner .violator {
  width: 112px;
  height: 111px;
  background: url(../images/page/violator.png) top left no-repeat;
  background-size: cover;
  position: absolute;
  top: -4px;
  right: -5px;
  z-index: 99;
}
.spotlights .spotlight-hcpSite .spotlight-inner {
  border-top: 10px solid #0066b3;
}
.spotlights .spotlight-hcpSite .spotlight-inner.moa-video .icon img {
  max-width: 86px;
  max-height: 84px;
}
.spotlights .spotlight-hcpSite .spotlight-inner.moa-video .copy {
  padding-right: 0.5em;
}
.spotlights .spotlight-hcpSite .spotlight-inner.core-connections .icon img {
  max-width: 75px;
  max-height: 78px;
}
.spotlights .spotlight-hcpSite .spotlight-inner.receive-samples .icon img {
  max-width: 57px;
  max-height: 46px;
}
.spotlights .spotlight-hcpSite .spotlight-inner.registration .icon img {
  max-width: 52px;
  max-height: 72px;
}
.spotlights .spotlight-patientSite .spotlight-inner {
  border-top: 10px solid #efe32c;
}
.spotlights .spotlight-patientSite .spotlight-inner .title {
  color: #0066b3;
}
.spotlights .spotlight-patientSite .spotlight-inner.administration-video .icon {
  margin-top: 2em;
}
.spotlights .spotlight-patientSite .spotlight-inner.administration-video .icon img {
  max-width: 83px;
  max-height: 54px;
}
.spotlights .spotlight-patientSite .spotlight-inner.copay-assistance .icon {
  margin-top: 2em;
}
.spotlights .spotlight-patientSite .spotlight-inner.copay-assistance .icon img {
  max-width: 69px;
  max-height: 45px;
}
.spotlights .spotlight-patientSite .spotlight-inner.disposal-program .icon {
  margin-top: 1em;
}
.spotlights .spotlight-patientSite .spotlight-inner.disposal-program .icon img {
  max-width: 46px;
  max-height: 41px;
}
.spotlights .spotlight-patientSite .spotlight-inner.disposal-program .copy {
  padding-right: 10px;
}
.spotlights .spotlight-patientSite .spotlight-inner.patient-support .icon {
  margin-top: 1em;
}
.spotlights .spotlight-patientSite .spotlight-inner.patient-support .icon img {
  max-width: 51px;
  max-height: 72px;
}
.spotlights .spotlight-patientSite .spotlight-inner.why-rasuvo .icon {
  margin-top: 0.5em;
}
.spotlights .spotlight-patientSite .spotlight-inner.why-rasuvo .icon img {
  max-width: 66px;
  max-height: 66px;
}

.page-links {
  font-weight: bold;
  position: relative;
  padding: 0 15px;
  margin: 4em -15px 2em -15px;
}
.page-links span {
  display: inline-block;
  position: relative;
}
.page-links .previous-page {
  padding-right: 0.5em;
  padding-left: 1em;
}
.page-links .previous-page a:before {
  content: " ";
  width: 0;
  height: 0;
  position: absolute;
  bottom: 0.3em;
  left: 0;
  border-style: solid;
  border-width: 4px 5px 4px 0;
  border-color: transparent #0066b3 transparent transparent;
}
.page-links .next-page {
  padding-right: 1em;
  padding-left: 0.5em;
}
.page-links .next-page a:after {
  content: " ";
  width: 0;
  height: 0;
  position: absolute;
  bottom: 0.3em;
  right: 0;
  border-style: solid;
  border-width: 4px 0 4px 5px;
  border-color: transparent transparent transparent #0066b3;
}

#thank-you {
  text-align: center;
}
#thank-you p {
  font-size: 2em;
  font-weight: bold;
}

.formWrap {
  margin: 0;
}
.formWrap p, .formWrap label {
  font-size: 1em;
}
.formWrap label {
  position: relative;
  font-weight: normal;
}
.formWrap form {
  font-size: 1.4em;
}
.formWrap .input, .formWrap select {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 28px;
  border: 1px solid #a7a7a7;
  background: #f8f7f7;
  text-indent: 4px;
}
.formWrap select {
  height: 30px;
}
.formWrap .radio, .formWrap .checkbox {
  margin-bottom: 1.5em;
  margin-left: 0.5em;
}
.formWrap .radio input, .formWrap .checkbox input {
  margin: 2px 0 0 -2em;
}
.formWrap .radio .reqStar, .formWrap .checkbox .reqStar {
  left: 9px;
}
.formWrap .errorMsg {
  color: #ca3b2f;
}
.formWrap .reqStar {
  width: 10px;
  color: #ca3b2f;
  text-align: right;
  position: absolute;
  left: -10px;
}
.formWrap .formSubmit {
  padding-top: 1em;
}
.formWrap .formSubmit button {
  width: 180px;
  height: 40px;
  color: #ffffff;
  font-size: 1.2em;
  font-weight: bold;
  margin: 3em 0 2em;
  border: 1px solid #075087;
  border-radius: 4px;
  text-shadow: 1px 2px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: inset 1px 1px 0px 0px #74a7d7, inset -1px -1px 0px 0px #74a7d7, 0px 1px 2px 0px rgba(0, 0, 0, 0.57);
  -webkit-box-shadow: inset 1px 1px 0px 0px #74a7d7, inset -1px -1px 0px 0px #74a7d7, 0px 1px 2px 0px rgba(0, 0, 0, 0.57);
  box-shadow: inset 1px 1px 0px 0px #74a7d7, inset -1px -1px 0px 0px #74a7d7, 0px 1px 2px 0px rgba(0, 0, 0, 0.57);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #508cd0), color-stop(100%, #0268b4));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #508cd0 0%, #0268b4 100%);
  /* Chrome10+,Safari5.1+ */
  background: -moz-linear-gradient(top, #508cd0 0%, #0268b4 100%);
  /* FF3.6+ */
  background: -ms-linear-gradient(top, #508cd0 0%, #0268b4 100%);
  /* IE10+ */
  background: -o-linear-gradient(top, #508cd0 0%, #0268b4 100%);
  /* Opera 11.10+ */
  background: linear-gradient(to bottom, #508cd0 0%, #0268b4 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#508cd0', endColorstr='#0268b4');
  /* IE6-9 */
}

.modal-dialog {
  width: auto;
  margin: 5% auto;
}
.modal-dialog .modal-content {
  border: none;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.modal-dialog .modal-content .modal-body .tapArea {
  width: 5em;
  height: 5em;
  position: absolute;
  top: -2.0em;
  right: -2.0em;
  z-index: 4001;
}
.modal-dialog .modal-content .modal-body .close {
  width: 1.6em;
  background-color: #ffffff;
  font-size: 1.8em;
  line-height: 1em;
  color: #333333;
  text-align: center;
  display: block;
  position: absolute;
  top: -0.5em;
  right: -0.5em;
  z-index: 4000;
  padding: 0.3em 0 0.2em 0;
  border: 1px solid #dadada;
  border-radius: 1em;
  filter: alpha(opacity=100);
  opacity: 1;
}

.lightbox .modal-dialog .modal-content {
  border-radius: 12px;
  box-shadow: inset 10px 10px 0 #efefef, inset -10px -10px 0 #efefef;
  max-width: 748px;
}
.lightbox .modal-dialog .modal-content .modal-body {
  padding: 10px;
}
.lightbox .modal-dialog .modal-content .modal-body .userMessage {
  width: 100%;
  background: #d3e7f6;
  font-size: 100%;
  display: table;
}
.lightbox .modal-dialog .modal-content .modal-body .userMessage p {
  display: table-cell;
  vertical-align: middle;
  color: #333333;
}
.lightbox .modal-dialog .modal-content .modal-body .userMessage p.initialMessage {
  font-size: 1.6em;
}
.lightbox .modal-dialog .modal-content .modal-body .userMessage .row {
  margin: 0;
}

.modal-backdrop.in {
  filter: alpha(opacity=80);
  opacity: .8;
}

#pdf-modal .modal-backdrop.in {
  filter: alpha(opacity=0);
  opacity: 0;
}
#pdf-modal .modal-dialog {
  max-width: 960px;
}
#pdf-modal .modal-dialog .modal-content {
  background-color: rgba(0, 0, 0, 0.8);
}
#pdf-modal .modal-dialog .modal-content .modal-body #psoriasis-carousel .carousel-inner, #pdf-modal .modal-dialog .modal-content .modal-body #arthritis-carousel .carousel-inner {
  width: 50%;
  margin: 1em auto;
}
#pdf-modal .modal-dialog .modal-content .modal-body #psoriasis-carousel .carousel-indicators, #pdf-modal .modal-dialog .modal-content .modal-body #arthritis-carousel .carousel-indicators {
  position: relative;
  bottom: auto;
  left: auto;
  width: auto;
  padding-left: 0;
  margin-bottom: 3em;
  margin-left: 0;
}
#pdf-modal .modal-dialog .modal-content .modal-body #psoriasis-carousel .carousel-indicators li, #pdf-modal .modal-dialog .modal-content .modal-body #arthritis-carousel .carousel-indicators li {
  width: 63px;
  height: 92px;
  background-color: transparent;
  text-indent: 0;
  margin: 0 0.5em;
  border: none;
  border-radius: 0;
}
#pdf-modal .modal-dialog .modal-content .modal-body #psoriasis-carousel .carousel-indicators li.active, #pdf-modal .modal-dialog .modal-content .modal-body #arthritis-carousel .carousel-indicators li.active {
  background-color: transparent;
  margin: 0 0.5em;
  border-top: 5px solid #0066b3;
  border-bottom: 5px solid #0066b3;
}

#video-modal .modal-dialog {
  max-width: 640px;
}
#video-modal .modal-dialog .modal-content {
  height: auto;
}
#video-modal .modal-dialog .modal-content .modal-body {
  width: 100%;
  padding: 0;
}
#video-modal .modal-dialog .modal-content .modal-body video {
  width: 100%;
}

#video-modal-content video, #video-modal-content canvas {
  width: 100%;
  max-width: 100%;
  height: auto;
  top: 0;
  left: 0;
}
#video-modal-content video {
  height: 100%;
  position: absolute;
}

#signupForm-modal .modal-dialog {
  max-width: 748px;
}
#signupForm-modal .modal-dialog .modal-content {
  min-height: 530px;
}
#signupForm-modal .modal-dialog .modal-content .modal-body h3 {
  margin: 0.6em 0 0.3em 20px;
  color: #b8b8b8;
  font-size: 3.0em;
}
#signupForm-modal .modal-dialog .modal-content .modal-body .userMessage p {
  padding: 20px;
}
#signupForm-modal .modal-dialog .modal-content .modal-body .userMessage p.thankYouMessage, #signupForm-modal .modal-dialog .modal-content .modal-body .userMessage p.errorMessage {
  font-size: 1.8em;
  text-align: center;
}
#signupForm-modal .modal-dialog .modal-content .modal-body .modal-content-wrap {
  margin: 0 20px;
}

#leavingSite-modal .modal-dialog {
  max-width: 748px;
}
#leavingSite-modal .modal-dialog .modal-content {
  height: 400px;
  width: 100%;
}
#leavingSite-modal .modal-dialog .modal-content .modal-body {
  padding: 10px;
}
#leavingSite-modal .modal-dialog .modal-content .modal-body .userMessage {
  padding-bottom: 50px;
  margin: 50px 20% 0 0;
}
#leavingSite-modal .modal-dialog .modal-content .modal-body .userMessage .icon {
  margin: 31px 0 0 0;
}
#leavingSite-modal .modal-dialog .modal-content .modal-body .userMessage .icon img {
  max-width: 104px;
  max-height: 104px;
}
#leavingSite-modal .modal-dialog .modal-content .modal-body .userMessage .copy {
  margin: 20px 0px 0px 0;
}
#leavingSite-modal .modal-dialog .modal-content .modal-body .userMessage .copy h3 {
  margin-bottom: 10px;
  color: #0066b3;
  max-width: 400px;
}
#leavingSite-modal .modal-dialog .modal-content .modal-body .userMessage .copy p {
  margin-bottom: 10px;
  color: #333333;
  width: auto;
}
#leavingSite-modal .modal-dialog .modal-content .modal-body .proceed_btn, #leavingSite-modal .modal-dialog .modal-content .modal-body .goBack_btn {
  text-align: center;
  padding-top: 1em;
}
#leavingSite-modal .modal-dialog .modal-content .modal-body .proceed_btn img, #leavingSite-modal .modal-dialog .modal-content .modal-body .goBack_btn img {
  max-width: 144px;
  cursor: pointer;
}

#comingSoon-modal .modal-dialog {
  max-width: 650px;
}
#comingSoon-modal .modal-dialog .modal-content .modal-body .userMessage {
  padding-top: 25px;
  padding-left: 15px;
  margin: 50px 0 140px 0;
}
#comingSoon-modal .modal-dialog .modal-content .modal-body .userMessage .icon {
  text-align: right;
}
#comingSoon-modal .modal-dialog .modal-content .modal-body .userMessage .copy h3 {
  font-size: 2.4em;
  color: #0066b3;
  margin-bottom: 0;
}
#comingSoon-modal .modal-dialog .modal-content .modal-body .userMessage .copy p {
  font-size: 1.5em;
  padding-top: 0.6em;
}
#comingSoon-modal .modal-dialog .modal-content #receive-samples-body .userMessage {
  padding-bottom: 40px;
}
#comingSoon-modal .modal-dialog .modal-content #receive-samples-body .userMessage .icon {
  padding-right: 5px;
}
#comingSoon-modal .modal-dialog .modal-content #receive-samples-body .userMessage .icon img {
  max-width: 94px;
  max-height: 75px;
}
#comingSoon-modal .modal-dialog .modal-content #receive-samples-body .userMessage .copy {
  padding-right: 60px;
  margin-top: 0;
}
#comingSoon-modal .modal-dialog .modal-content #disposal-program-body .userMessage {
  padding-bottom: 50px;
}
#comingSoon-modal .modal-dialog .modal-content #disposal-program-body .userMessage .icon {
  padding-right: 5px;
}
#comingSoon-modal .modal-dialog .modal-content #disposal-program-body .userMessage .icon img {
  max-width: 104px;
  max-height: 104px;
}
#comingSoon-modal .modal-dialog .modal-content #disposal-program-body .userMessage .copy {
  padding-right: 70px;
  margin-top: 5px;
}
#comingSoon-modal .modal-dialog .modal-content #pharmacy-support-body .userMessage {
  padding-bottom: 50px;
}
#comingSoon-modal .modal-dialog .modal-content #pharmacy-support-body .userMessage .icon {
  padding-right: 5px;
}
#comingSoon-modal .modal-dialog .modal-content #pharmacy-support-body .userMessage .icon img {
  max-width: 103px;
  max-height: 68px;
}
#comingSoon-modal .modal-dialog .modal-content #pharmacy-support-body .userMessage .copy {
  padding-right: 60px;
}
#comingSoon-modal .modal-dialog .modal-content #dose-modification-body .userMessage {
  padding-bottom: 35px;
}
#comingSoon-modal .modal-dialog .modal-content #dose-modification-body .userMessage .icon {
  padding-right: 20px;
}
#comingSoon-modal .modal-dialog .modal-content #dose-modification-body .userMessage .icon img {
  max-width: 64px;
  max-height: 112px;
}
#comingSoon-modal .modal-dialog .modal-content #dose-modification-body .userMessage .copy {
  padding-right: 70px;
}

.patientSlider {
  position: relative;
}
.patientSlider .arrowLeft {
  margin-top: -24px;
  width: 39px;
  height: 49px;
  cursor: pointer;
  background: url(../images/arrow_left.png) 50% 50% no-repeat;
  position: absolute;
  left: 0px;
  top: 50%;
  z-index: 10;
}
.patientSlider .arrowRight {
  margin-top: -24px;
  width: 39px;
  height: 49px;
  cursor: pointer;
  background: url(../images/arrow_right.png) 50% 50% no-repeat;
  position: absolute;
  right: 7px;
  top: 50%;
  z-index: 10;
}
.patientSlider .patientInfoWrap {
  width: 100%;
  height: 315px;
  position: relative;
  border: 1px solid #b1b1b1;
  overflow: auto;
}
.patientSlider .patientInfoWrap .fpo {
  position: absolute;
  top: 60px;
  left: 20px;
  font-size: 130px;
  color: #dd46b2;
}
.patientSlider .patientInfoWrap .carousel-inner {
  margin: 40px 0 0 305px;
  width: 375px;
}
.patientSlider .patientInfoWrap .carousel-inner .parentList {
  margin: 0 0 0 1.0em;
  font-family: Arial, sans-serif;
  font-weight: bold;
  font-size: 100%;
  list-style-type: none;
}
.patientSlider .patientInfoWrap .carousel-inner .parentList.paged {
  height: 260px;
}
.patientSlider .patientInfoWrap .carousel-inner .parentList .childList {
  margin: 0.5em 0 0 1.5em;
  padding: 0;
  list-style-type: none;
}
.patientSlider .patientInfoWrap .carousel-inner .parentList .childList li {
  margin-bottom: 0.25em;
  font-size: 1.0em;
}
.patientSlider .patientInfoWrap .highlight {
  margin-top: 1.0em;
  padding-left: 1.5em;
  height: 84px;
  border-left: 7px solid #0066b3;
  background: rgba(239, 227, 44, 0.43);
  color: #333333;
  display: table;
}
.patientSlider .patientInfoWrap .highlight .highlightText {
  display: table-cell;
  vertical-align: middle;
}
.patientSlider h2 {
  margin: 0;
  padding: 0;
  font-family: 'HelveticaNeueLTStd-Cn', sans-serif;
  font-size: 3.6em;
  font-style: italic;
}
.patientSlider .carousel-indicators {
  margin: 0;
  padding: 0;
  width: 100%;
  list-style-type: none;
  border: 1px solid #b1b1b1;
  border-top: none;
  overflow: hidden;
  position: static;
  bottom: 0;
  left: 0;
}
.patientSlider .carousel-indicators li {
  margin: 0;
  padding: 0;
  width: 20%;
  height: 40px;
  display: table;
  float: left;
  text-align: center;
  font-family: 'HelveticaNeueLTStd-Cn', sans-serif;
  border: none;
  border-right: 1px solid #b1b1b1;
  border-radius: 0;
  text-indent: 0;
}
.patientSlider .carousel-indicators li.noBorder {
  border-right: none;
}
.patientSlider .carousel-indicators li a, .patientSlider .carousel-indicators li a:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f2f2f2), color-stop(100%, #b9b8b8));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #f2f2f2 0%, #b9b8b8 100%);
  /* Chrome10+,Safari5.1+ */
  background: -moz-linear-gradient(top, #f2f2f2 0%, #b9b8b8 100%);
  /* FF3.6+ */
  background: -ms-linear-gradient(top, #f2f2f2 0%, #b9b8b8 100%);
  /* IE10+ */
  background: -o-linear-gradient(top, #f2f2f2 0%, #b9b8b8 100%);
  /* Opera 11.10+ */
  background: linear-gradient(to bottom, #f2f2f2 0%, #b9b8b8 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2f2f2', endColorstr='#b9b8b8');
  /* IE6-9 */
  display: table-cell;
  vertical-align: middle;
  color: #000000;
  text-shadow: -1px 1px white;
}
.patientSlider .carousel-indicators li.active a, .patientSlider .carousel-indicators li.active a:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f6ef7f), color-stop(100%, #cabf16));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #f6ef7f 0%, #cabf16 100%);
  /* Chrome10+,Safari5.1+ */
  background: -moz-linear-gradient(top, #f6ef7f 0%, #cabf16 100%);
  /* FF3.6+ */
  background: -ms-linear-gradient(top, #f6ef7f 0%, #cabf16 100%);
  /* IE10+ */
  background: -o-linear-gradient(top, #f6ef7f 0%, #cabf16 100%);
  /* Opera 11.10+ */
  background: linear-gradient(to bottom, #f6ef7f 0%, #cabf16 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6ef7f', endColorstr='#cabf16');
  /* IE6-9 */
}

.multiSpotlight {
  margin: 40px 0;
  /* wildcard in case column structure changes */
}
.multiSpotlight .row {
  margin: 1.5em 0 0;
}
.multiSpotlight [class*='col-xs-'] {
  padding-right: 0;
  padding-left: 0;
}
.multiSpotlight .multiButton {
  height: 100%;
  min-height: 182px;
  background: #ffffff;
  /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjNGUxZjciIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, white 0%, #c4e1f7 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #c4e1f7));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, white 0%, #c4e1f7 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, white 0%, #c4e1f7 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, white 0%, #c4e1f7 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #ffffff 0%, #c4e1f7 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#c4e1f7',GradientType=0 );
  /* IE6-8 */
  position: relative;
  padding: 0 1em;
  margin-bottom: 1em;
  margin-left: 1.3em;
  border: 1px solid #e9e9e9;
}
.multiSpotlight .multiButton .violator {
  width: 136px;
  height: 135px;
  background: url(../images/page/violator.png) top left no-repeat;
  background-size: cover;
  position: absolute;
  top: -5px;
  right: -6px;
  z-index: 99;
}
.multiSpotlight .download-link-sm {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
}
.multiSpotlight .buttonIcon {
  height: 70px;
  background-repeat: no-repeat;
  background-position: 50%;
}
.multiSpotlight .buttonIcon.adminGuide {
  background-image: url(../images/spotlights/icon_administration_guide_thumb.png);
  background-size: 36px 56px;
}
.multiSpotlight .buttonIcon.adminGuide.hcpIcon {
  background-image: url(../images/spotlights/hcp/icon_administration_guide_thumb.png);
}
.multiSpotlight .buttonIcon.adminVideo {
  background-image: url(../images/spotlights/icon_administration_video_thumb.png);
  background-size: 66px 42px;
}
.multiSpotlight .buttonIcon.adminVideo.hcpIcon {
  background-image: url(../images/spotlights/hcp/icon_administration_video_thumb.png);
}
.multiSpotlight .buttonIcon.patientSupport {
  background-image: url(../images/spotlights/icon_pt_support_brochure_thumb.png);
  background-size: 41px 58px;
}
.multiSpotlight .buttonIcon.patientSupport.hcpIcon {
  background-image: url(../images/spotlights/hcp/icon_pt_support_brochure_thumb.png);
}
.multiSpotlight .buttonIcon.copayAssistance {
  background-image: url(../images/spotlights/icon_copay_assistance_thumb.png);
  background-size: 66px 42px;
}
.multiSpotlight .buttonIcon.copayAssistance.hcpIcon {
  background-image: url(../images/spotlights/hcp/icon_copay_assistance_thumb.png);
}
.multiSpotlight .buttonIcon.disposalProgram {
  background-image: url(../images/spotlights/icon_disposal_program_thumb.png);
  background-size: 46px 41px;
}
.multiSpotlight .buttonIcon.disposalProgram.hcpIcon {
  background-image: url(../images/spotlights/hcp/icon_disposal_program_thumb.png);
}
.multiSpotlight .buttonIcon.patientAssistance {
  background-image: url(../images/spotlights/icon_pt_assistance_program_thumb.png);
  background-size: 66px 42px;
}
.multiSpotlight .buttonIcon.patientAssistance.hcpIcon {
  background-image: url(../images/spotlights/hcp/icon_pt_assistance_program_thumb.png);
}
.multiSpotlight .buttonIcon.benefitsSupport {
  background-image: url(../images/spotlights/icon_benefits_support_phone_thumb.png);
  background-size: 44px 48px;
  background-position: 0 50%;
}
.multiSpotlight .buttonIcon.benefitsSupport span {
  font-size: 13px;
  color: #0066b3;
  font-weight: bold;
  display: block;
  padding: 24px 0 0 13%;
}
.multiSpotlight .buttonIcon.benefitsSupport.hcpIcon {
  background-image: url(../images/spotlights/hcp/icon_benefits_support_phone_thumb.png);
}
.multiSpotlight .buttonIcon.rasuvoUpdates {
  background-image: url(../images/spotlights/icon_rasuvo_updates_thumb.png);
  background-size: 66px 46px;
}
.multiSpotlight .buttonIcon.rasuvoUpdates.hcpIcon {
  background-image: url(../images/spotlights/hcp/icon_rasuvo_updates_thumb.png);
}
.multiSpotlight .buttonIcon.requestSample {
  background-image: url(../images/spotlights/icon_request_sample_thumb.png);
  background-size: 57px 46px;
}
.multiSpotlight .buttonIcon.requestSample.hcpIcon {
  background-image: url(../images/spotlights/hcp/icon_request_sample_thumb.png);
}
.multiSpotlight .buttonIcon.pharmacySupport {
  background-image: url(../images/spotlights/icon_personalized_pharma_support_thumb.png);
  background-size: 66px 44px;
}
.multiSpotlight .buttonIcon.pharmacySupport.hcpIcon {
  background-image: url(../images/spotlights/hcp/icon_personalized_pharma_support_thumb.png);
}
.multiSpotlight .buttonIcon.doseModification {
  background-image: url(../images/spotlights/hcp/icon_dose_modification_program_thumb.png);
  background-size: 34px 59px;
}
.multiSpotlight .buttonContent {
  margin-bottom: 1.0em;
  color: #5c5c5c;
  font-size: 1.3em;
  font-weight: normal;
  line-height: 1.2em;
}
.multiSpotlight .buttonContent h5 {
  margin-bottom: 0.3em;
  color: #0066b3;
}

.patientSite .multiSpotlight .multiButton {
  background: #fcf9d5;
  /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZjZjlkNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmN2YxOTYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #fcf9d5 0%, #f7f196 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fcf9d5), color-stop(100%, #f7f196));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #fcf9d5 0%, #f7f196 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #fcf9d5 0%, #f7f196 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #fcf9d5 0%, #f7f196 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #fcf9d5 0%, #f7f196 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcf9d5', endColorstr='#f7f196',GradientType=0 );
  /* IE6-8 */
}

.siteSearch {
  width: 100%;
  max-width: 275px;
  margin-top: 10%;
}
.siteSearch form {
  position: relative;
}
.siteSearch input {
  width: 100%;
  height: 25px;
  background: #f2f3f2;
  text-indent: 4px;
  padding-right: 34px;
  border: 1px solid #d9d9d9;
}
.siteSearch button {
  width: 34px;
  height: 23px;
  background: #f2f3f2 url(../images/magnifying_glass.png) 50% 50% no-repeat;
  border: none;
  position: absolute;
  top: 1px;
  right: 1px;
}

#searchResultsPage {
  /**
   * Google Search Theme Overrides
   *
   */
  /* Slight reset to make the preview have ample padding. */
  /* Selector for entire element. */
  /* Search button */
  /* Inactive tab */
  /* Active tab */
  /* This is the tab bar bottom border. */
  /* Inner wrapper for a result */
  /* Result hover event styling */
  /*Promotion Settings*/
  /* The entire promo */
  /* Promotion links */
  /* Promotion snippet */
  /* Promotion url */
  /* Style for auto-completion table
   * .gsc-completion-selected : styling for a suggested query which the user has moused-over
   * .gsc-completion-container : styling for the table which contains the completions
   */
  /* Full URL */
  /* Facet box css */
  /* Universal one box css. */
}
#searchResultsPage h3 {
  margin: 0.5em 0 0.15em;
  font-size: 1.8em;
}
#searchResultsPage .google {
  float: right;
}
#searchResultsPage .google img {
  height: 19px;
  width: 57px;
  margin-top: 0.5em;
}
#searchResultsPage .siteSearch {
  display: none;
}
#searchResultsPage .onPageSearch {
  height: 88px;
  background: #cce0f0;
  padding: 0 1em;
  margin: -2em 0 3em 0;
}
#searchResultsPage .onPageSearch form {
  width: 100%;
  max-width: 500px;
  position: relative;
  top: 35px;
  margin: 0 auto;
}
#searchResultsPage .onPageSearch input {
  width: 100%;
  height: 25px;
  font-size: 14px;
  text-indent: 4px;
  border: 1px solid #d9d9d9;
  background: #f2f3f2;
}
#searchResultsPage .onPageSearch button {
  width: 34px;
  height: 23px;
  background: #f2f3f2 url(../images/magnifying_glass.png) 50% 50% no-repeat;
  border: none;
  position: absolute;
  top: 1px;
  right: 1px;
}
#searchResultsPage .onPageResults {
  position: relative;
  margin: 0 0 0 0.5em;
}
#searchResultsPage .gsc-control-cse {
  margin-top: 1.0em;
  font-family: arial, sans-serif;
}
#searchResultsPage .gsc-control-cse a, #searchResultsPage .gsc-control-cse .gsc-cursor-page {
  color: #0066b3;
}
#searchResultsPage .gsc-control-cse a:visited {
  color: #660099;
}
#searchResultsPage .gsc-control-cse .gsc-cursor-current-page {
  color: #5c5c5c;
}
#searchResultsPage .gsc-control-cse b {
  color: #333333;
}
#searchResultsPage .gsc-control-cse .gsc-above-wrapper-area, #searchResultsPage .gsc-control-cse .gcsc-branding {
  display: none;
}
#searchResultsPage .gsc-control-cse .gsc-thumbnail-inside, #searchResultsPage .gsc-control-cse .gsc-url-top, #searchResultsPage .gsc-control-cse .gsc-table-result, #searchResultsPage .gsc-control-cse .gsc-webResult, #searchResultsPage .gsc-control-cse .gsc-result {
  padding: 0;
  border: none;
}
#searchResultsPage .gsc-control-cse .gs-title {
  font-size: 16px;
}
#searchResultsPage .gsc-control-cse .gs-visibleUrl {
  font-size: 14px;
}
#searchResultsPage .gsc-control-cse .gsc-cursor-box {
  margin: 40px 0 30px;
  padding: 0;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
}
#searchResultsPage .gsc-control-cse .gsc-cursor-page {
  margin-right: 35px;
}
#searchResultsPage .gsc-control-cse .gs-snippet {
  color: #5c5c5c;
  font-size: 14px;
  font-weight: normal;
}
#searchResultsPage .gsc-control-cse .gs-no-results-result {
  position: absolute;
  top: -0.2em;
  left: 10.8em;
  font-weight: bold;
}
#searchResultsPage .gsc-control-cse .gs-no-results-result .gs-snippet {
  background-color: transparent;
  color: #333333;
  font-size: 18px;
  font-weight: bold;
  padding: 0;
  margin: 0;
  border: none;
}
#searchResultsPage .gsc-control-cse .gsc-adBlock {
  display: none;
}
#searchResultsPage .cse .gsc-control-cse,
#searchResultsPage .gsc-control-cse {
  padding: 0em;
  width: auto;
}
#searchResultsPage .cse .gsc-control-wrapper-cse,
#searchResultsPage .gsc-control-wrapper-cse {
  width: 100%;
}
#searchResultsPage .cse .gsc-branding,
#searchResultsPage .gsc-branding {
  display: none;
}
#searchResultsPage .cse .gsc-control-cse,
#searchResultsPage .gsc-control-cse {
  background-color: #ffffff;
  border: 1px solid #ffffff;
}
#searchResultsPage .cse .gsc-control-cse:after,
#searchResultsPage .gsc-control-cse:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
#searchResultsPage .cse .gsc-resultsHeader,
#searchResultsPage .gsc-resultsHeader {
  border: block;
}
#searchResultsPage table.gsc-search-box td.gsc-input {
  padding-right: 12px;
}
#searchResultsPage input.gsc-input {
  border-color: #D9D9D9;
  font-size: 13px;
  padding: 1px 6px;
}
#searchResultsPage .cse input.gsc-search-button,
#searchResultsPage input.gsc-search-button {
  font-family: inherit;
  font-size: 11px;
  font-weight: bold;
  color: #000;
  padding: 0 8px;
  height: 20px;
  min-width: 54px;
  background-color: #CECECE;
  border: 1px solid #666;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
}
#searchResultsPage .cse .gsc-tabHeader.gsc-tabhInactive,
#searchResultsPage .gsc-tabHeader.gsc-tabhInactive {
  border-bottom: none;
  color: #666666;
  background-color: #e9e9e9;
  border: 1px solid;
  border-color: #e9e9e9;
  border-bottom: none;
}
#searchResultsPage .cse .gsc-tabHeader.gsc-tabhActive,
#searchResultsPage .gsc-tabHeader.gsc-tabhActive {
  background-color: #FFFFFF;
  border: 1px solid;
  border-top: 2px solid;
  border-color: #e9e9e9;
  border-top-color: #FF9900;
  border-bottom: none;
}
#searchResultsPage .cse .gsc-tabsArea,
#searchResultsPage .gsc-tabsArea {
  margin-top: 1em;
  border-bottom: 1px solid #e9e9e9;
}
#searchResultsPage .cse .gsc-webResult.gsc-result,
#searchResultsPage .gsc-webResult.gsc-result,
#searchResultsPage .gsc-imageResult-column,
#searchResultsPage .gsc-imageResult-classic {
  padding: .25em;
  border: 1px solid;
  border-color: #ffffff;
  margin-bottom: 1em;
}
#searchResultsPage .cse .gsc-webResult.gsc-result:hover,
#searchResultsPage .gsc-webResult.gsc-result:hover,
#searchResultsPage .gsc-webResult.gsc-result.gsc-promotion:hover,
#searchResultsPage .gsc-results .gsc-imageResult-classic:hover,
#searchResultsPage .gsc-results .gsc-imageResult-column:hover {
  border: 1px solid;
  border-color: #FFFFFF;
}
#searchResultsPage .cse .gsc-webResult.gsc-result.gsc-promotion,
#searchResultsPage .gsc-webResult.gsc-result.gsc-promotion {
  background-color: #FFFFFF;
  border-color: #336699;
}
#searchResultsPage .cse .gs-promotion a.gs-title:link,
#searchResultsPage .gs-promotion a.gs-title:link,
#searchResultsPage .cse .gs-promotion a.gs-title:link *,
#searchResultsPage .gs-promotion a.gs-title:link *,
#searchResultsPage .cse .gs-promotion .gs-snippet a:link,
#searchResultsPage .gs-promotion .gs-snippet a:link {
  color: #0000CC;
}
#searchResultsPage .cse .gs-promotion a.gs-title:visited,
#searchResultsPage .gs-promotion a.gs-title:visited,
#searchResultsPage .cse .gs-promotion a.gs-title:visited *,
#searchResultsPage .gs-promotion a.gs-title:visited *,
#searchResultsPage .cse .gs-promotion .gs-snippet a:visited,
#searchResultsPage .gs-promotion .gs-snippet a:visited {
  color: #0000CC;
}
#searchResultsPage .cse .gs-promotion a.gs-title:hover,
#searchResultsPage .gs-promotion a.gs-title:hover,
#searchResultsPage .cse .gs-promotion a.gs-title:hover *,
#searchResultsPage .gs-promotion a.gs-title:hover *,
#searchResultsPage .cse .gs-promotion .gs-snippet a:hover,
#searchResultsPage .gs-promotion .gs-snippet a:hover {
  color: #0000CC;
}
#searchResultsPage .cse .gs-promotion a.gs-title:active,
#searchResultsPage .gs-promotion a.gs-title:active,
#searchResultsPage .cse .gs-promotion a.gs-title:active *,
#searchResultsPage .gs-promotion a.gs-title:active *,
#searchResultsPage .cse .gs-promotion .gs-snippet a:active,
#searchResultsPage .gs-promotion .gs-snippet a:active {
  color: #0000CC;
}
#searchResultsPage .cse .gs-promotion .gs-snippet,
#searchResultsPage .gs-promotion .gs-snippet,
#searchResultsPage .cse .gs-promotion .gs-title .gs-promotion-title-right,
#searchResultsPage .gs-promotion .gs-title .gs-promotion-title-right,
#searchResultsPage .cse .gs-promotion .gs-title .gs-promotion-title-right *,
#searchResultsPage .gs-promotion .gs-title .gs-promotion-title-right * {
  color: #000000;
}
#searchResultsPage .cse .gs-promotion .gs-visibleUrl,
#searchResultsPage .gs-promotion .gs-visibleUrl {
  color: #008000;
}
#searchResultsPage .gsc-completion-selected {
  background: #EEE;
}
#searchResultsPage .gsc-completion-container {
  font-family: Arial, sans-serif;
  font-size: 13px;
  background: white;
  border: 1px solid #CCC;
  border-top-color: #D9D9D9;
  margin-left: 0;
  margin-right: 0;
  /* The top, left, and width are set in JavaScript. */
}
#searchResultsPage .gsc-completion-title {
  color: #0000CC;
}
#searchResultsPage .gsc-completion-snippet {
  color: #000000;
}
#searchResultsPage .gs-webResult div.gs-visibleUrl-short,
#searchResultsPage .gs-promotion div.gs-visibleUrl-short {
  display: none;
}
#searchResultsPage .gs-webResult div.gs-visibleUrl-long,
#searchResultsPage .gs-promotion div.gs-visibleUrl-long {
  display: block;
}
#searchResultsPage .gsc-context-box {
  font-size: 83%;
  margin-top: 3px;
  border-collapse: collapse;
}
#searchResultsPage .gsc-context-box .gsc-col {
  padding: 1px 0;
  white-space: nowrap;
  vertical-align: middle;
}
#searchResultsPage .gsc-context-box .gsc-facet-label {
  width: 65px;
  padding-left: 2px;
  text-decoration: underline;
  color: #15C;
  cursor: pointer;
}
#searchResultsPage .gsc-context-box .gsc-chart {
  width: 32em;
  padding: 3px;
  border-left: 1px solid #6A9CF3;
  border-right: 1px solid #6A9CF3;
}
#searchResultsPage .gsc-context-box .gsc-top {
  border-top: 1px solid #6A9CF3;
}
#searchResultsPage .gsc-context-box .gsc-bottom {
  border-bottom: 1px solid #6A9CF3;
}
#searchResultsPage .gsc-context-box .gsc-chart div {
  background: #6A9CF3;
  height: 9px;
}
#searchResultsPage .gsc-context-box .gsc-facet-result {
  color: #15C;
  width: 30px;
  text-align: right;
  padding-right: 5px;
}
#searchResultsPage .gsc-usr-group-thumbnail {
  display: inline-block;
  max-width: 72px;
  max-height: 72px;
}
#searchResultsPage .gsc-usr-group-thumbnail img {
  max-height: 72px;
  overflow: hidden;
}
#searchResultsPage .gs-webResult .gs-title
.gs-title.gsc-usr-group-heading {
  color: #15C;
  cursor: pointer;
}
#searchResultsPage .gsc-usr-group {
  min-height: 100px;
  zoom: 1;
  display: block;
  border: 1px solid #ebebeb;
  line-height: 1.24;
  margin-top: -7px;
  margin-bottom: -7px;
  margin-left: 30px;
}
#searchResultsPage .gsc-usr-group-content {
  padding-top: 1px;
  padding-bottom: 3px;
}
#searchResultsPage .gsc-usr-group-content-thumbnail {
  display: inline-block;
  vertical-align: top;
}
#searchResultsPage .gsc-usr-group-head-result {
  display: inline-block;
  padding-left: 6px;
}
#searchResultsPage .gsc-usr-group-snippet {
  width: 100%;
  height: 3.6em;
  overflow: hidden;
}
#searchResultsPage .gsc-usr-group-content-results {
  font-size: 12px;
  padding-left: 1px;
  width: 80%;
  padding-top: 5px;
}
#searchResultsPage .gsc-usr-group-head-results {
  display: inline-block;
  font-size: 13px;
  padding-left: 6px;
  width: 80%;
}
#searchResultsPage .gs-webResult .gs-title
.gs-title.gsc-usr-group-all-results {
  font-size: 11px;
  line-height: 10px;
}
#searchResultsPage .gs-webResult .gs-title
.gs-title.gsc-usr-group-all-results
b {
  font-size: 14px;
  font-weight: 600;
}

/* end #searchResultsPage */
.content-homepage .spotlights {
  padding-right: 0;
  padding-left: 0;
  margin-right: 0;
  margin-left: -18px;
}
.content-homepage .spotlights .spotlight .spotlight-inner, .content-homepage .spotlights .spotlight-hcpSite .spotlight-inner, .content-homepage .spotlights .spotlight-patientSite .spotlight-inner {
  margin-left: 3px;
}
.content-homepage .page-links {
  margin: 2em -15px;
}

#hcpSite-0_0-home .spotlights .spotlight, #hcpSite-0_0-home .spotlights .spotlight-hcpSite, #hcpSite-0_0-home .spotlights .spotlight-patientSite {
  margin-bottom: 15px;
}
#hcpSite-0_0-home .spotlights .spotlight .spotlight-inner, #hcpSite-0_0-home .spotlights .spotlight-hcpSite .spotlight-inner, #hcpSite-0_0-home .spotlights .spotlight-patientSite .spotlight-inner {
  min-height: 170px;
  padding: 2em 0 0 0;
}
#hcpSite-0_0-home .spotlights .spotlight .spotlight-inner.registration .icon, #hcpSite-0_0-home .spotlights .spotlight-hcpSite .spotlight-inner.registration .icon, #hcpSite-0_0-home .spotlights .spotlight-patientSite .spotlight-inner.registration .icon {
  padding-right: 15px;
  padding-left: 15px;
}

#patientSite-0_0-home .spotlights .spotlight, #patientSite-0_0-home .spotlights .spotlight-hcpSite, #patientSite-0_0-home .spotlights .spotlight-patientSite {
  margin-bottom: 2em;
}
#patientSite-0_0-home .spotlights .spotlight .spotlight-inner, #patientSite-0_0-home .spotlights .spotlight-hcpSite .spotlight-inner, #patientSite-0_0-home .spotlights .spotlight-patientSite .spotlight-inner {
  min-height: 140px;
  padding: 2em 0 1em 0;
}
#patientSite-0_0-home .spotlights .spotlight .spotlight-inner .icon, #patientSite-0_0-home .spotlights .spotlight-hcpSite .spotlight-inner .icon, #patientSite-0_0-home .spotlights .spotlight-patientSite .spotlight-inner .icon {
  padding-right: 0;
  padding-left: 15px;
  margin-top: 1em;
  max-width: 83px;
}
#patientSite-0_0-home .spotlights .spotlight .spotlight-inner .copy, #patientSite-0_0-home .spotlights .spotlight-hcpSite .spotlight-inner .copy, #patientSite-0_0-home .spotlights .spotlight-patientSite .spotlight-inner .copy {
  padding-right: 0.5em;
}

#hcpSite-1_1-indications .content h4 {
  margin: 0 0 0.5em 0;
}
#hcpSite-1_1-indications .content p {
  margin-bottom: 1em;
}
#hcpSite-1_1-indications .content ul {
  margin-top: 0;
  margin-bottom: 1.5em;
}

#hcpSite-1_2-why-rasuvo .content .blue-box, #hcpSite-1_2-why-rasuvo #hcpSite-2_1-science-of-methotrexate .content .blue-box-img, #hcpSite-2_1-science-of-methotrexate #hcpSite-1_2-why-rasuvo .content .blue-box-img {
  padding: 2em 4em;
}

#hcpSite-2_1-science-of-methotrexate .content ul {
  margin-bottom: 3em;
}
#hcpSite-2_1-science-of-methotrexate .content .methotrexate-video {
  margin-top: -25px;
  margin-left: -10px;
}
#hcpSite-2_1-science-of-methotrexate .content .pdf-icon {
  padding-right: 0;
  margin-bottom: 3em;
}
#hcpSite-2_1-science-of-methotrexate .content .download-link, #hcpSite-2_1-science-of-methotrexate .content .download-link-sm, #hcpSite-2_1-science-of-methotrexate .content .download-link-lg, #hcpSite-2_1-science-of-methotrexate .content .expand-link {
  margin-left: -10px;
}
#hcpSite-2_1-science-of-methotrexate .content .download-link, #hcpSite-2_1-science-of-methotrexate .content .download-link-sm, #hcpSite-2_1-science-of-methotrexate .content .download-link-lg {
  margin-top: 150%;
}
#hcpSite-2_1-science-of-methotrexate .content blue-box {
  padding: 2em 10em;
}
#hcpSite-2_1-science-of-methotrexate .content .blue-box-img {
  background-image: url("../images/page/hcp/30_percent.jpg");
  background-size: 110px 100px;
  background-repeat: no-repeat;
  background-position: left;
  display: table;
  padding: 0 1em 0 13em;
  margin-bottom: 3em;
}
#hcpSite-2_1-science-of-methotrexate .content .blue-box-img .thirty-percent {
  height: 100px;
  display: table-row;
}
#hcpSite-2_1-science-of-methotrexate .content .blue-box-img .thirty-percent div {
  font-size: 1.2em;
  font-weight: normal;
  text-align: left;
  display: table-cell;
  vertical-align: middle;
}
#hcpSite-2_1-science-of-methotrexate .page-links {
  margin-top: 1em;
}

#hcpSite-2_3-bioavailability-study .content .blue-box, #hcpSite-2_3-bioavailability-study #hcpSite-2_1-science-of-methotrexate .content .blue-box-img, #hcpSite-2_1-science-of-methotrexate #hcpSite-2_3-bioavailability-study .content .blue-box-img {
  padding: 2em 1em;
}

#hcpSite-2_4-human-factors-study .autoPen {
  max-width: 395px;
  margin: 0 auto;
}
#hcpSite-2_4-human-factors-study .table {
  display: table;
}
#hcpSite-2_4-human-factors-study .table .cell {
  display: table-cell;
}
#hcpSite-2_4-human-factors-study .innerTitle {
  margin-top: 3.0em;
  margin-bottom: 0.5em;
}
#hcpSite-2_4-human-factors-study .studyResults {
  margin: 1.0em 0 3.0em;
}
#hcpSite-2_4-human-factors-study .studyResults > div.middle {
  min-height: 230px;
  border-left: 1px solid #d6d6d6;
  border-right: 1px solid #d6d6d6;
}
#hcpSite-2_4-human-factors-study .studyResults .studyIcon {
  margin: 0 auto 1em auto;
  width: 135px;
}
#hcpSite-2_4-human-factors-study .studyResults .studyText.studyOne {
  padding-left: 30px;
}
#hcpSite-2_4-human-factors-study .studyResults .studyFootnote {
  padding: 0 0 0 25px;
}
#hcpSite-2_4-human-factors-study .studyResults .studyBullet {
  padding: 15px 0 0 5px;
}

#hcpSite-2_5-scmtx-vs-mtx .studyChart {
  margin: 0.5em 0 2.0em;
}

#hcpSite-3_1-using-rasuvo .content img {
  margin-bottom: 2em;
}
#hcpSite-3_1-using-rasuvo .content .video-title {
  margin-top: 3em;
  margin-bottom: 10px;
}
#hcpSite-3_1-using-rasuvo .content .download-link-lg {
  font-size: 1.4em;
  line-height: 1.1em;
  padding-top: 0.7em;
  padding-left: 3.4em;
}

#hcpSite-4_1-patient-support .content {
  padding-right: 15px;
}
#hcpSite-4_1-patient-support .content .core-connections {
  padding-right: 15px;
}
#hcpSite-4_1-patient-support .content .core-connections .logo {
  padding-left: 2.8em;
}
#hcpSite-4_1-patient-support .content .core-connections .logo img {
  max-width: 256px;
  max-height: 141px;
  margin-bottom: 1em;
}
#hcpSite-4_1-patient-support .content .core-connections .copy h4 {
  margin-bottom: 1em;
}
#hcpSite-4_1-patient-support .content .core-connections .copy p {
  font-weight: bold;
}

#hcpSite-4_2-patient-support-access .content {
  padding-right: 15px;
}
#hcpSite-4_2-patient-support-access .content h4 {
  color: #333333;
  margin-bottom: 0.5em;
}
#hcpSite-4_2-patient-support-access .content .core-connections {
  padding-right: 15px;
  margin-bottom: 2em;
}
#hcpSite-4_2-patient-support-access .content .core-connections .logo {
  padding-left: 2.8em;
}
#hcpSite-4_2-patient-support-access .content .core-connections .logo img {
  max-width: 256px;
  max-height: 141px;
}
#hcpSite-4_2-patient-support-access .content .core-connections p {
  font-weight: bold;
  margin-top: 4em;
}
#hcpSite-4_2-patient-support-access .content .access-resources {
  margin-left: 1.3em;
  padding-right: 15px;
}
#hcpSite-4_2-patient-support-access .content .access-resources ul .bullet {
  color: #0066b3;
}
#hcpSite-4_2-patient-support-access .content .access-resources .row {
  padding-bottom: 2em;
  margin-top: 3em;
  margin-right: 15px;
}
#hcpSite-4_2-patient-support-access .content .access-resources .row.divider {
  border-bottom: 1px solid #dadada;
}
#hcpSite-4_2-patient-support-access .content .access-resources .icon, #hcpSite-4_2-patient-support-access .content .access-resources .copy {
  padding-right: 0;
}

#patientSite-1_1-rheumatoid-arthritis .content h4 {
  margin-bottom: 0.5em;
}

#patientSite-1_2-why-rasuvo .submenu .left-sidebar-img img, #patientSite-1_2-why-rasuvo .submenu .left-sidebar-img:hover img {
  width: 100%;
  padding: 2.0em;
}
#patientSite-1_2-why-rasuvo .autoPen {
  margin: 3.0em 0 0.5em;
}
#patientSite-1_2-why-rasuvo .dosages {
  margin: 1.5em 0 1.0em;
}
#patientSite-1_2-why-rasuvo h4, #patientSite-1_2-why-rasuvo h5 {
  margin-bottom: 0.5em;
}
#patientSite-1_2-why-rasuvo .spotlights .icon {
  max-width: 69px;
}

#patientSite-2_1-using-rasuvo .submenu .left-sidebar-img img, #patientSite-2_1-using-rasuvo .submenu .left-sidebar-img:hover img {
  padding: 2em 0;
}
#patientSite-2_1-using-rasuvo .studyResults {
  margin: 1.0em 0;
}
#patientSite-2_1-using-rasuvo .studyResults .col-xs-6 {
  padding: 0;
}
#patientSite-2_1-using-rasuvo .studyResults .col-xs-6.middle {
  min-height: 205px;
  border-left: 2px solid #d6d6d6;
}
#patientSite-2_1-using-rasuvo .studyResults .studyIcon {
  margin: 1em auto;
  width: 135px;
  position: relative;
  top: -1.0em;
}
#patientSite-2_1-using-rasuvo .studyResults .studyText {
  margin: -0.25em 0 1.5em;
  padding: 0 10px 0 35px;
}
#patientSite-2_1-using-rasuvo .studyResults .studyText.studyOne {
  padding-left: 0px;
}
#patientSite-2_1-using-rasuvo .studyResults .studyFootnote {
  padding: 0 0 0 25px;
}
#patientSite-2_1-using-rasuvo .studyResults .studyBullet {
  padding: 15px 0 0 5px;
}
#patientSite-2_1-using-rasuvo .videoWrap {
  margin-bottom: 3.0em;
  padding: 10px 12px;
  border: 1px solid #e7e7e7;
}
#patientSite-2_1-using-rasuvo .yellowBG {
  background: #fcf9d5;
  /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZjZjlkNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmN2YxOTYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #fcf9d5 0%, #f7f196 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fcf9d5), color-stop(100%, #f7f196));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #fcf9d5 0%, #f7f196 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #fcf9d5 0%, #f7f196 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #fcf9d5 0%, #f7f196 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #fcf9d5 0%, #f7f196 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcf9d5', endColorstr='#f7f196',GradientType=0 );
  /* IE6-8 */
}
#patientSite-2_1-using-rasuvo .pdfBoxWrap {
  height: 100%;
}
#patientSite-2_1-using-rasuvo .pdfBoxWrap .col-xs-6.simpleSteps {
  padding-right: 7px;
}
#patientSite-2_1-using-rasuvo .pdfBoxWrap .col-xs-6.patientInfo {
  padding-left: 7px;
}
#patientSite-2_1-using-rasuvo .pdfBox {
  padding: 10px 13px;
  position: relative;
  border: 1px solid #e7e7e7;
}
#patientSite-2_1-using-rasuvo .pdfBox .download-link-sm {
  background-size: 21px 24px;
  position: absolute;
  top: 11px;
  right: 6px;
}
#patientSite-2_1-using-rasuvo .pdfBox .pdfTitle {
  font-size: 1.4em;
  font-weight: bold;
  line-height: 1.2em;
  min-height: 2.4em;
  color: #0066b3;
  margin-right: 2em;
  margin-bottom: 0.5em;
}
#patientSite-2_1-using-rasuvo .pdfBox .pdfThumb {
  margin: 0 auto;
}
#patientSite-2_1-using-rasuvo .innerTitle {
  margin: 2.0em 0 0.5em;
}

.iPad .pdfBoxWrap .pdfBox .pdfTitle {
  margin-bottom: 0.75em !important;
  font-size: 1.2em !important;
  line-height: 1.3em !important;
}

#patientSite-3_1-patient-support .submenu .left-sidebar-img img, #patientSite-3_1-patient-support .submenu .left-sidebar-img:hover img {
  padding: 1.5em 0.5em 0 1em;
}
#patientSite-3_1-patient-support .content .core-connections .logo {
  padding-left: 2.8em;
}
#patientSite-3_1-patient-support .content .core-connections .logo img {
  max-width: 256px;
  max-height: 141px;
}
#patientSite-3_1-patient-support .content .core-connections .copy h4 {
  margin-top: 1em;
  margin-bottom: 0.3em;
}

#patientSite-3_2-disposal-program .content .blue {
  font-weight: bold;
}
#patientSite-3_2-disposal-program .content .disposal-signup {
  margin-bottom: 1em;
}
#patientSite-3_2-disposal-program .content .disposal-signup p {
  margin-bottom: 0.5em;
}
#patientSite-3_2-disposal-program .content .disposal-signup ul {
  margin-top: 0.5em;
  margin-bottom: 0;
  margin-left: 1.5em;
}
#patientSite-3_2-disposal-program .content .disposal-signup .icon {
  padding-right: 0;
}

#patientSite-3_3-affordability .affordability-resources .title {
  color: #333333;
  margin-bottom: 0.2em;
}
#patientSite-3_3-affordability .affordability-resources .icon {
  padding-right: 0;
}
#patientSite-3_3-affordability .affordability-resources .row {
  margin-bottom: 2em;
}

.isiWrap {
  max-width: 1024px;
  background: #f0f0f0;
  z-index: 4000;
}

.isiHead {
  width: 100%;
  max-width: 1004px;
  height: 42px;
  border: 1px solid #c0bebe;
  -moz-box-shadow: 0px 2px 0px 0px #e5e5e5, 0px -1px 2px 0px #ebebeb;
  -webkit-box-shadow: 0px 2px 0px 0px #e5e5e5, 0px -1px 2px 0px #ebebeb;
  box-shadow: 0px 2px 0px 0px #e5e5e5, 0px -1px 2px 0px #ebebeb;
  background: #ffffff;
  /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjYmNjY2QiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, white 0%, #cbcccd 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #cbcccd));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, white 0%, #cbcccd 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, white 0%, #cbcccd 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, white 0%, #cbcccd 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #ffffff 0%, #cbcccd 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#cbcccd',GradientType=0 );
  /* IE6-8 */
  position: fixed;
  bottom: 0;
  z-index: 100;
  box-sizing: border-box;
}
.isiHead.contentShowing {
  position: relative;
  bottom: auto;
}
.isiHead .isiArrow {
  float: right;
  cursor: pointer;
}
.isiHead .isiArrow .expandArrow, .isiHead .isiArrow .collapseArrow {
  margin-right: 10px;
}
.isiHead .isiArrow .expandArrow .icon, .isiHead .isiArrow .collapseArrow .icon {
  width: 24px;
  height: 25px;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 3px;
  margin-right: auto;
  margin-left: auto;
}
.isiHead .isiArrow .expandArrow .copy, .isiHead .isiArrow .collapseArrow .copy {
  color: #0066b3;
  font-size: 0.9em;
  text-align: center;
}
.isiHead .isiArrow .expandArrow .icon {
  background-image: url("../images/expand_arrow.png");
}
.isiHead .isiArrow .collapseArrow .icon {
  background-image: url("../images/collapse_arrow.png");
}

.isiTitle {
  margin-left: 20px;
  font-size: 2.0em;
  line-height: 42px;
  font-weight: bold;
  color: #333333;
  float: left;
}

.isi {
  padding: 20px;
}
.isi h3 {
  font-size: 1.6em;
}
.isi h4 {
  font-size: 1.4em;
}
.isi h5 {
  margin: 14px 0 0;
  padding: 0;
  font-size: 1.6em;
}
.isi p, .isi li {
  color: #333333;
}
.isi ul li {
  margin-bottom: 0;
}
.isi ul.spacedList li {
  margin-bottom: 15px;
}
.isi a {
  font-weight: bold;
}
.isi .boxed {
  margin: 0 -10px 20px -10px;
  padding: 15px 15px 0 15px;
  border: 1px solid #000000;
  /* JR - 20140806 - removed bold */
}
.isi .boxed h5 {
  margin: 0;
  padding: 0;
  font-size: 1.4em;
}
.isi .boxed .dashedList {
  margin-top: -10px;
  margin-left: 3.5em;
}
.isi .boxed .dashedList .bullet {
  left: -15px;
}
.isi .references p {
  font-size: 1.2em;
  margin-bottom: 0.5em;
}
.isi .references .title {
  margin-top: 3em;
}

.boxList {
  margin: 0 0 25px 30px;
}
.boxList li {
  font-weight: bold;
  margin-bottom: 0;
}

.footer {
  margin: 15em 0 0 0;
  padding: 0 0 180px;
  overflow: hidden;
}

.footerLogo {
  padding-right: 0;
}
.footerLogo img {
  max-width: 126px;
}

.footerCopyTop {
  margin: 4px 0 1px;
  padding-bottom: 1px;
  border-bottom: 2px solid #508cd1;
  font-weight: bold;
  position: relative;
  font-size: 1.2em;
}
.footerCopyTop ul {
  margin: 0;
  padding: 0;
  float: right;
  font-size: 100%;
}
.footerCopyTop ul li {
  font-size: 1.0em;
  display: inline;
}
.footerCopyTop ul li.divider {
  padding: 0 10px;
  font-weight: normal;
}

.footerCopyBottom {
  padding-top: 1px;
  border-top: 8px solid #508cd1;
  font-size: 1.2em;
}

.footerCopy {
  margin-right: 17px;
}

.footerRights {
  margin-right: 17px;
}

.footerBuild {
  margin-right: 17px;
}

.footerDate {
  margin-right: 15px;
}

.footerTM {
  float: right;
}
