/**
 * @file
 * Styles are organized using the SMACSS technique. @see http://smacss.com/book/
 *
 * When you turn on CSS aggregation at admin/config/development/performance, all
 * of these @include files will be combined into a single file.
 */

/* HTML element (SMACSS base) rules */
@import "normalize.css";

/* Layout rules */
@import "layouts/responsive.css";

/* Component (SMACSS module) rules */
@import "components/misc.css";
/* Optionally, add your own components here. */
@import "print.css";

/* SMACSS theme rules */
/* @import "theme-A.css"; */
/* @import "theme-B.css"; */
body {
    background: linear-gradient(to bottom, #034475 0%, #1277c4 380px, #1277c4 100%) repeat-x;

}
div#page {
    background-color: #ffffff;
}
li.menu__item.is-leaf {
    list-style-image: none;
    list-style-type: none;
}
div.region-top-navigation li.menu__item.is-leaf {
    float: left;

    padding: 7px 0;
    margin-right: 5px;
    padding-right: 10px;
    float: right;
    font-family: arial, sans-serif;
    font-size: .8em;
    font-weight: bold;
    border-right: solid #000000 thin;
}
div.menu-name-main-menu li {
    background: linear-gradient(to bottom, #0066b3 0%, #518dd1 100%);
    color: #ffffff;
}
div.menu-name-main-menu li a {
    display: block;
    vertical-align: middle;
    font-family: 'HelveticaNeueLTStd-Cn', sans-serif;
    /* font-size: 1.8em; */
    letter-spacing: 1px;
    line-height: 1.0em;
    padding: 10px 20px 6px 20px;
    color: #ffffff;
}
div.menu-name-main-menu li.active-trail {
background: linear-gradient(to bottom, #efe32c 0%, #f0ea97 100%);
}
div.menu-level-2 ul{
    padding: 0px;
    margin: 0px;
}
div.menu-level-2 li{
    margin-bottom: 0px;
}
div.menu-level-2 li a.active{
    background: linear-gradient(to bottom, #0066b3 0%, #518dd1 100%);
}
div.menu-level-2 li a{
    background-color: #ecebeb;
}
div.pond-column3 article.view-mode-side_bar{height: 100%;
    border-top: 10px solid #efe32c;
    padding: 1em 0 0.8em 0;
    border-bottom: 1px solid #dadada;
    border-right: 1px solid #dadada;
    border-left: 1px solid #dadada;
    box-shadow: 0 0 5px #dadada;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #e2eef9));
    background: -webkit-linear-gradient(top, white 0%, #e2eef9 100%);
    background: -moz-linear-gradient(top, white 0%, #e2eef9 100%);
    background: -ms-linear-gradient(top, white 0%, #e2eef9 100%);
    background: -o-linear-gradient(top, white 0%, #e2eef9 100%);
    background: linear-gradient(to bottom, #ffffff 0%, #e2eef9 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='white', endColorstr='#e2eef9');
}
.panel-col-sixty-six article.view-mode-side_bar{
    background: linear-gradient(to bottom, #fcf9d5 0%, #f7f196 100%);
    width: 31%;
}
